*{
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(10, 151, 151);
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1 );
    font-size: 8vmin;
    color: rgb(213, 11, 11);
    background-color: rgb(203, 224, 64);
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(0, 0, 0);
    color: azure;
    border-radius: 1rem;
    border: none;
     
}
#new-btn{
padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(16, 240, 143);
    color: azure;
    border-radius: 1rem;
    border: none;
    
}     
#msg{
    color:rgb(32, 30, 33);
    font-size: 5vmin;
}
.msg-container{
    height: 150vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
   display: none; 
}